button {
  background-color: #c73044;
  border: none;
  border-radius: 20px;
  padding: 7px 20px;
  color: white;
  font-family: Inter;
  font-size: 15px;
  transition: background-color 0.2s;
}
/* 
button:hover {
  cursor: pointer;
  background-color: #7c1724;
} */
