.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 7px;
  box-shadow: 0px 0px 4px rgb(201, 199, 199);
  width: 200px;
  margin: 10px 5px;
  padding-top: 15px;
}

.item-details {
  background-color: #191919;
  width: 100%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.item-details p {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 0px;
}

.discount {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.old-price {
  color: rgb(79, 79, 79);
  text-decoration: line-through;
}

.actual-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.discount-p {
  color: white;
  font-size: 11px;
}

.contract-details {
  font-size: 12px;
}

.currencies {
  display: flex;
  position: relative;
  left: 15px;
  flex-direction: row;
}

.price-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 70%;
}

.actual {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price {
  color: white;
}

.contract-details {
  color: rgb(101, 101, 101);
  text-wrap: wrap;
  text-wrap-style: elipsis;
}

.name-section {
  font-weight: 700px;
  font-size: 15px;
  letter-spacing: 0.75px;
  justify-self: start;
  color: white;
}

.item-image {
  align-self: center;
  max-width: 150px;
}
.add {
  background-color: transparent;
  border: 0.3px solid grey;
  padding: 3px 18px;
  position: relative;
  left: 10%;
  margin: 3px 0px;
  justify-self: center;
  align-self: center;
  font-family: Inter;
}

.add:hover {
  cursor: pointer;
}
.usdt,
.usdc {
  width: 15px;
}
